<div class="ui center aligned one column grid">

<div class="column">
	<h1>New Quiz</h1>
</div>
<div class="eight wide column">
	<%= render 'form' %>
</div>

<div class="column">
	<%= link_to 'Back', quizzes_path, class: "ui grey button" %>
</div>
</div>