<div class="ui one column padded centered grid">
	<div class="column">
		<h1>Recording page</h1>
	</div>
	<div class="column" style="background-color: pink;">
		app > views > recording > index.html.erb
	</div>
</div>